.MeetVideoContainer{
   position: relative;
   height:100vh;
   background: rgb(1,4,48)


}

.MeetUserVideo{
    position: absolute;
    bottom : 8vh;
    height:20vh;
    width:auto;
    left:0;
    margin-left:10px;
    border-radius:10px;

}

.buttonContainers{
    position:absolute;
    width:100vw;
    bottom:0;
    text-align:center;
    
}

.buttonContainers svg{
    
    font-size:2.4rem;
}

.conferenceView{
display:flex;
gap:10px;
padding:10px;

}

.conferenceView  video{
    width:48vw;
    min-width:30vw;
    /* height: 20vh ; */
    border-radius:10px;
}

.chatRoom{
    position:absolute;
    height:90vh;
    width:30vw;
    right:0;
    background: white;
    border-radius:10px;
    padding-inline:20px;
    
}

.chatContainer{
    position:relative;
    height:100%;
}
.chattingArea{
    position:absolute;
    bottom:0;
    padding-bottom:10px;
}

.chattingDisplay{

}